@import '~carbon-components/scss/globals/scss/styles.scss';
@import './theme.scss';

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	text-decoration: none;
}

.in-mail-noti {
	position: absolute;
	right: 0;
	top: 50vh;
}

.room-list {
	position: absolute;
	z-index: 9999;
	width: 50%;
}
